# Backend - Laravel
smartfood-backend/vendor/
smartfood-backend/.env
smartfood-backend/storage/framework/
smartfood-backend/storage/logs/
smartfood-backend/public/storage
smartfood-backend/bootstrap/cache/*.php
smartfood-backend/node_modules/ # Si Laravel usa npm para algo

# Frontend - Astro / Node.js
smartfood-frontend/node_modules/
smartfood-frontend/dist/
smartfood-frontend/.astro/
smartfood-frontend/.env

# General
.DS_Store
Thumbs.db
*.log
local.yml

# IDE / Editor specific
.idea/
.vscode/