---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartFood - Auth</title>
  </head>
  <body class="overflow-x-hidden">
    <main
      class="grid grid-cols-[1.5fr_1fr] grid-rows-1 bg-amber-50 h-screen overflow-hidden"
    >
      <!-- Parte izquierda del contenido -->
      <div
        class="flex flex-col pl-[73px] pt-[49px] pb-[49px] h-full overflow-hidden"
      >
        <img
          class="w-full h-full object-cover"
          src="../../public/background.webp"
          alt=""
        />
      </div>

      <!-- Parte derecha del contenido -->
      <!--Formulario -->
      <section
        class="flex flex-col gap-4 items-center px-[64px] py[64px] justify-center"
      >
        <!-- Arriba -->
        <div class="flex flex-col gap-4 px-[96px]">
          <div class="justify-center">
            <h1 class="text-2xl ">SmartFood</h1>
            <h2>Te facilitamos las listas de la compra</h2>
          </div>

          <div>
            <button>Google</button>
            <button>Github</button>
          </div>
        </div>

        <!-- Centro -->
        <div></div>

        <!-- Abajo -->
        <div></div>
      </section>
    </main>
  </body>
</html>
