---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="w-full h-full flex justify-center items-center gap-10">
        <a href="auth/login">Login</a>
        <a href="auth/register">Register</a>
        <a href="chat">Chat</a>
    </div>
</Layout>
